@import "bootstrap";
.breathe {
	margin: 40px 0;
}
.txtC {
	text-align: center;
}
.col-centered{
    text-align: center;
}
body { 
	padding-top: 60px;
	font-family: 'Droid Sans',sans-serif;
	@media screen and (max-width: 800px) {
    	padding: 0px;
    	margin-top: -40px;
	}
}
.navbar {
	line-height: 100px;
	height: 100px;
	background: lighten(#4B3900,82%);
	border-bottom: 1px solid #333;
	@media screen and (max-width: 800px) {
    	display: none;
	}
}
#banner {
	background: url('../img/legumesbio1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	@media screen and (max-width: 800px) {
    	height:300px;
    	min-height:0;
	}
	padding-top: 70px;
	.bannerMessage {
		text-align: center;
		color: white;
		text-transform: uppercase;
		background: rgba(0,0,0,0.4);
		padding: 100px;
		@media screen and (max-width: 800px) {
	    	padding:30px;
		}
		h1 {
			font-size: 4em;
			@media screen and (max-width: 800px) {
		    	font-size: 2em;
			}
		}
		h3 {
			font-size: 2em;
			@media screen and (max-width: 800px) {
		    	font-size: 1em;
			}
		}
	}
}
img {max-width: 100%;}
img.logo {
	position: absolute;
	width: 260px;
	top: 20px;
	left: 50%;
	margin-left: -130px;
}
footer {
	background: #333;
	color: white;
	padding: 50px 0 20px 0;
}
#iframeMap {
	@media screen and (max-width: 800px) {
    	margin-top: 100px;
	}
}